body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.rosette1 {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url(./img/rosette1.jpg);
	margin: 1% 0;
}

.btn:hover{
	background-color: #B21C25 !important;
}

/*Colour palette*/



.bowes-navy{
	background-color: #191F51 !important;
}

.bowes-red{
	background-color: #B21C25 !important;
}

.bowes-silver{
	background-color: #CBE7F5 !important;	
}


/*navbar*/
.navbar-dark .navbar-nav .nav-link {
	margin: 0 1.5rem;
	color: white !important;
	font-family: 'Roboto';
	text-transform: uppercase;
}

#contact > div > div > div:nth-child(n) > p {
	color: white !important;
	font-family: 'Roboto';
}

/*sections*/
.section1{
	margin:25px 0;
	background-image: url(./img/background.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
	padding-bottom: 25px;
}

	
h1{
	font-family: 'Noto Sans JP';
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
}

.fa:hover{
	 text-decoration: none;
}

footer {
	font-size:.7em;
	
}

footer p{
	margin-left: auto;
    margin-right: auto;
    width: 25em
}


	